@media screen and (max-width: 575px) {
	.ft-wpbs .page-link {
		font-size: .7rem;
		padding: .3rem .45rem;
	}
}

.starter-template {
  padding: 2rem 0;
}

.navbar {
	margin-bottom: 40px;
}

.widget {
	list-style: none;
}

.widgettitle {
    padding-bottom: 15px;
    border-bottom: 1px solid #e3e3e3;
}

.widget ul {
    list-style: none;
    padding-left: 20px;
    margin-left: 0px;
}

.thumbnail-page {
	width: 100%;
	height: 150px;
	object-fit: cover;
}

.social_icon {
    background: purple;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    margin-left: 3px;    
}

.social-icons {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
}
#secondary .widget .social-icons {
    text-align: left;
}
#social a {
    color: #696969;
    display: inline-block;
    font-size: 18px;
    list-style: none;
    text-align: center;
}
#social a:hover {
    color: #a161bf;
}
#social li a span {
    display: none;
}


.footer {
	padding: 20px;
	background: #333;
}